@charset "UTF-8";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; // ブラウザの持ってるのは16pxが基本、分かりにくいから10pxに調整
}
body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #eb7d2f;
}
.btn--purple,
a.btn--purple {
  color: #fff;
  background-color: #008ff5;
}
.btn--purple:hover,
a.btn--purple:hover {
  color: #fff;
  background: #31a3f5;
}

a.btn--radius {
  border-radius: 100vh;
}

a.hidden {
  display: none;
}

/* ==============================================
header
=================================================*/
.header {
  display: flex; //
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  &-logo {
    width: 100px;
    height: 50px;
    background: #666;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    li {
      position: relative;

      height: 100%;
      line-height: 100%;
      a {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 0 30px;
        color: #333;
        text-decoration: none;
      }
      &:hover {
        background: #aaa;
        color: #fff;
        -webkit-transition: 0.3s;
        transition: all 0.3s;
        .sub-list > .sub-item {
          overflow: visible;
          opacity: 1;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
}

/* ==============================================
contents
=================================================*/
main {
  display: block; // IE対策のおまじない
}

.section {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-secttl {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.password {
  &_danger {
    text-align: center;
    background: #ffb3b3;
    transition: 0.3s;
    animation: to_danger 0.5s;
    -webkit-animation: to_danger 0.5s;
  }
  &_normal {
    text-align: center;
    background: #ffffb3;
    transition: 0.3s;
  }

  &_safe {
    text-align: center;
    background: #b2ffd8;
    transition: 0.3s;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#password {
  animation: SlideIn 0.5s;
  padding: 10px;
  .common-secttl {
    margin-top: 20px;
    overflow-wrap: break-word;
    line-height: inherit;
  }

  h2 {
    line-height: 2.5rem;
  }
}

#pass_div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  div {
    margin: 10px;
  }
}

#register_div {
  text-align: center;
  #display_pass {
    text-align: center;
    display: block;
    flex-wrap: wrap;
    dl {
      width: 100%;
    }
    dl div {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    dt {
      padding: 20px;
      background-color: #dadada;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
    }
    dd {
      padding: 20px;
      background-color: #f3f3f3;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 40%;
    }
  }
}

.register {
  margin: 10px;
}
.display {
  margin: 10px;
}

#display_pass {
  margin: 10px;
}

.footer-section {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* モーダル */
body.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal * {
  text-shadow: none;
  color: #333;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(16, 16, 16, 0.6);
}

.modal-content {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  width: 80vw;
  max-height: 90vh;
  max-width: 1100px;
  box-sizing: border-box;
}

.modal-inner {
  position: relative;
  background: #fff;
  padding: 5vw;
}

@media screen and (min-width: 1100px) {
  .modal-inner {
    padding: 100px;
  }
}

.modal-item {
  font-size: 16px;
  word-break: break-all;
}

.modal-photo img {
  border: 1px solid #aaaaaa;
}

.modal .btn-close {
  margin: 11px auto 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 56px;
  z-index: 2;
}

.modal .btn-close:hover {
  cursor: pointer;
}

.modal.is_close > * {
  pointer-events: none;
}

.modal.is_close {
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
}

.modal.is_close .modal-bg,
.modal.is_close .modal-content {
  opacity: 0;
  -webkit-transition: 0.3s opacity 0s;
  transition: 0.3s opacity 0s;
}

.modal.is_open {
  visibility: visible;
}

.modal.is_open .modal-bg {
  opacity: 1;
  -webkit-transition: 0.3s opacity 0s;
  transition: 0.3s opacity 0s;
}

.modal.is_open .modal-content {
  pointer-events: none;
  opacity: 1;
  -webkit-transition: 0.3s opacity 0.3s;
  transition: 0.3s opacity 0.3s;
}

.modal.is_open .btn-close,
.modal.is_open .modal-inner {
  pointer-events: auto;
}

@media screen and (min-width: 769px) {
  .modal.is_open .js-modal-close {
    pointer-events: auto;
  }
}

div.pagination {
  margin-bottom: 15px;
}
ul.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

/* モーダルウィンドウ */
// .modal-window {
//   display: none;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 80%;
//   height: 80%;
//   background-color: #dfdddd;
//   border-radius: 5px;
//   z-index: 11;
//   padding: 2rem;
// }

// /* 閉じるボタン */
// .button-close {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 200px;
//   padding: 1em;
//   background-color: #c96931;
//   color: #eaeaea;
//   border-radius: 20rem;
//   cursor: pointer;
// }

// .overlay {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   height: 100%;
//   z-index: 10;
// }

// .no_scroll {
//   overflow: hidden;
// }

/* ログインフォーム */
.login,
.delete,
.register {
  text-align: center;
  h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 18px;
    margin-top: 15px;
  }
  p.delete-p {
    font-size: 20px;
    font-weight: bold;
  }
  input {
    margin: 15px;
  }
  button {
    display: inline-block;
    border-radius: 5%; /* 角丸       */
    font-size: 18pt; /* 文字サイズ */
    text-align: center; /* 文字位置   */
    cursor: pointer; /* カーソル   */
    padding: 12px 12px; /* 余白       */
    background: #000066; /* 背景色     */
    color: #ffffff; /* 文字色     */
    line-height: 1em; /* 1行の高さ  */
    transition: 0.3s; /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666; /* 影の設定 */
    border: 2px solid #000066; /* 枠の指定 */
  }
  button:hover {
    box-shadow: none; /* カーソル時の影消去 */
    color: #000066; /* 背景色     */
    background: #ffffff; /* 文字色     */
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#non-login-div {
  margin-top: 20px;
}

/* コピー、削除ボタン */
.copy_btn,
a.copy_btn {
  color: #fff;
  background-color: #00a497;
  padding: 0.5rem 2rem;
  border-radius: 0%;
}
.copy_btn:hover,
a.copy_btn:hover {
  color: #fff;
  background: #00ccbb;
}

.delete_btn,
a.delete_btn {
  color: #fff;
  background-color: #ff9393;
  padding: 0.5rem 2rem;
  border-radius: 0%;
}
.delete_btn:hover,
a.delete_btn:hover {
  color: #fff;
  background: #ffb7b7;
}

.alert {
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  text-align: center;
  margin-bottom: 30px;
}

.pass {
  &_line {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
  }
  &_ttl {
    background: #ccc;
    width: 20%;
    padding: 0.9rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_content {
    background: #eee;
    width: 50%;
    padding: 0.9rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_btns a {
    display: block;
    padding: 1.5rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .pass {
    &_line {
      display: block;
      margin-bottom: 10px;
    }
    &_ttl {
      background: #ccc;
      width: 100%;
      padding: 0.9rem 2rem;
    }
    &_content {
      background: #eee;
      width: 100%;
      padding: 0.9rem 2rem;
    }
    &_btns {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 0px 15px;
      }
    }
  }
}
