@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #eb7d2f;
}

.btn--purple,
a.btn--purple {
  color: #fff;
  background-color: #008ff5;
}

.btn--purple:hover,
a.btn--purple:hover {
  color: #fff;
  background: #31a3f5;
}

a.btn--radius {
  border-radius: 100vh;
}

a.hidden {
  display: none;
}

/* ==============================================
header
=================================================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.header-logo {
  width: 100px;
  height: 50px;
  background: #666;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.header-list li {
  position: relative;
  height: 100%;
  line-height: 100%;
}

.header-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 30px;
  color: #333;
  text-decoration: none;
}

.header-list li:hover {
  background: #aaa;
  color: #fff;
  -webkit-transition: 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-list li:hover .sub-list > .sub-item {
  overflow: visible;
  opacity: 1;
  height: 50px;
}

/* ==============================================
contents
=================================================*/
main {
  display: block;
}

.section {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.common-secttl {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.password_danger {
  text-align: center;
  background: #ffb3b3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  animation: to_danger 0.5s;
  -webkit-animation: to_danger 0.5s;
}

.password_normal {
  text-align: center;
  background: #ffffb3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.password_safe {
  text-align: center;
  background: #b2ffd8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#password {
  -webkit-animation: SlideIn 0.5s;
          animation: SlideIn 0.5s;
  padding: 10px;
}

#password .common-secttl {
  margin-top: 20px;
  overflow-wrap: break-word;
  line-height: inherit;
}

#password h2 {
  line-height: 2.5rem;
}

#pass_div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

#pass_div div {
  margin: 10px;
}

#register_div {
  text-align: center;
}

#register_div #display_pass {
  text-align: center;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#register_div #display_pass dl {
  width: 100%;
}

#register_div #display_pass dl div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#register_div #display_pass dt {
  padding: 20px;
  background-color: #dadada;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
}

#register_div #display_pass dd {
  padding: 20px;
  background-color: #f3f3f3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 40%;
}

.register {
  margin: 10px;
}

.display {
  margin: 10px;
}

#display_pass {
  margin: 10px;
}

#all_delete_btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 20px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #2285b1;
}

#all_delete_btn a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

#all_delete_btn a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.footer-section {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* モーダル */
body.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal * {
  text-shadow: none;
  color: #333;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(16, 16, 16, 0.6);
}

.modal-content {
  position: relative;
  z-index: 2;
  padding: 50px 0;
  width: 80vw;
  max-height: 90vh;
  max-width: 1100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-inner {
  position: relative;
  background: #fff;
  padding: 5vw;
}

@media screen and (min-width: 1100px) {
  .modal-inner {
    padding: 100px;
  }
}

.modal-item {
  font-size: 16px;
  word-break: break-all;
}

.modal-photo img {
  border: 1px solid #aaaaaa;
}

.modal .btn-close {
  margin: 11px auto 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 56px;
  z-index: 2;
}

.modal .btn-close:hover {
  cursor: pointer;
}

.modal.is_close > * {
  pointer-events: none;
}

.modal.is_close {
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
}

.modal.is_close .modal-bg,
.modal.is_close .modal-content {
  opacity: 0;
  -webkit-transition: 0.3s opacity 0s;
  transition: 0.3s opacity 0s;
}

.modal.is_open {
  visibility: visible;
}

.modal.is_open .modal-bg {
  opacity: 1;
  -webkit-transition: 0.3s opacity 0s;
  transition: 0.3s opacity 0s;
}

.modal.is_open .modal-content {
  pointer-events: none;
  opacity: 1;
  -webkit-transition: 0.3s opacity 0.3s;
  transition: 0.3s opacity 0.3s;
}

.modal.is_open .btn-close,
.modal.is_open .modal-inner {
  pointer-events: auto;
}

@media screen and (min-width: 769px) {
  .modal.is_open .js-modal-close {
    pointer-events: auto;
  }
}

div.pagination {
  margin-bottom: 15px;
}

ul.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* モーダルウィンドウ */
/* ログインフォーム */
.login,
.delete,
.register {
  text-align: center;
}

.login h1,
.delete h1,
.register h1 {
  font-size: 25px;
  margin-bottom: 15px;
}

.login h2,
.delete h2,
.register h2 {
  font-size: 18px;
  margin-top: 15px;
}

.login p.delete-p,
.delete p.delete-p,
.register p.delete-p {
  font-size: 20px;
  font-weight: bold;
}

.login input,
.delete input,
.register input {
  margin: 15px;
}

.login button,
.delete button,
.register button {
  display: inline-block;
  border-radius: 5%;
  /* 角丸       */
  font-size: 18pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 12px 12px;
  /* 余白       */
  background: #000066;
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* なめらか変化 */
  -webkit-box-shadow: 6px 6px 3px #666666;
          box-shadow: 6px 6px 3px #666666;
  /* 影の設定 */
  border: 2px solid #000066;
  /* 枠の指定 */
}

.login button:hover,
.delete button:hover,
.register button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  /* カーソル時の影消去 */
  color: #000066;
  /* 背景色     */
  background: #ffffff;
  /* 文字色     */
}

.login-button,
.delete-button,
.register-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* コピー、削除ボタン */
.copy_btn,
a.copy_btn {
  color: #fff;
  background-color: #00a497;
  padding: 0.5rem 2rem;
  border-radius: 0%;
}

.copy_btn:hover,
a.copy_btn:hover {
  color: #fff;
  background: #00ccbb;
}

.delete_btn,
a.delete_btn {
  color: #fff;
  background-color: #ff9393;
  padding: 0.5rem 2rem;
  border-radius: 0%;
}

.delete_btn:hover,
a.delete_btn:hover {
  color: #fff;
  background: #ffb7b7;
}

.alert {
  text-align: center;
  margin-bottom: 30px;
}

.alert h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.pass_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1px;
}

.pass_ttl {
  background: #aaa;
  width: 20%;
  padding: 0.9rem 2rem;
}

.pass_content {
  background: #ddd;
  width: 50%;
  padding: 0.9rem 2rem;
}

@media screen and (max-width: 768px) {
  .pass_line {
    display: block;
    margin-bottom: 10px;
  }
  .pass_ttl {
    background: #ccc;
    width: 100%;
    padding: 0.9rem 2rem;
  }
  .pass_content {
    background: #eee;
    width: 100%;
    padding: 0.9rem 2rem;
  }
  .pass_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pass_btns a {
    margin: 0px 15px;
  }
}
/*# sourceMappingURL=style.css.map */